<h2 class="centered-text">Fontaines à boire</h2>

<div class="container">
    <div class="flex-container">
        <% fountains.each do |fountain| %>
            <% if fountain.working? %>
                <div class="card">
                    <div class="card-content-title-only">
                        <p class="emoji">🚰</p>
                        <h3><%= fountain.name %></h3>
                        <div class="subtitle"><span><%= fountain.street_number %> <%= fountain.street_name %></span></div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
