@import 'variables';

.card {
    flex: 0 1 30%;
    border: 1px solid $border;
    margin: 15px 0;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
    position: relative;
    &:hover {
      box-shadow: 2px 6px 30px #00000033;
    }
    h1 {
      margin: 0;
      font-size: 1.75rem;
      line-height: 1.2;
    }
    p {
      margin: 0 0 30px;
      color: #666666;
    }
    .emoji {
        font-size: 1.6em;
    }
    .subtitle {
      margin: 0 0 15px;
      font-size: 1.25rem;
      font-weight: 700;
      color: $primary;
    }
    .card-image {
      height: 200px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .card-top {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
    .card-content {
      padding: 30px 30px 90px;
    }
    .card-content-title-only {
     padding: 30px 30px 30px;
    }
    .card-content-canvas {
      padding: 5px 5px 20px;

      h3 {
        margin-left: 1rem;
      }
    }
    .card-details {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }
    .card-details-inner {
      border-top: 1px solid $border;
      margin: 0 30px;
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .options {
      a {
        color: #666666;
        &:hover {
          color: #222222;
        }
      }
      .fa {
        margin-right: .25rem;
      }
    }   
}
 
@media screen and (min-width: 800px) {
    .card {
        margin: .5rem;
    }
}